<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.dao.MeetingFileMapper">
  <resultMap id="BaseResultMap" type="com.winter.domain.MeetingFile">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="meeting_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="file_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="file_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="file_size" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="up_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uploader" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="upload_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, meeting_id, file_name, file_url, file_size,up_id, uploader, upload_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from meeting_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from meeting_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.winter.domain.MeetingFile">
    insert into meeting_file (id, meeting_id, file_name, 
      file_url, file_size, up_id, uploader,
      upload_time)
    values (default , #{meetingId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR},
      #{fileUrl,jdbcType=VARCHAR}, #{fileSize,jdbcType=INTEGER}, #{upId,jdbcType=INTEGER} ,#{uploader,jdbcType=VARCHAR},
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.winter.domain.MeetingFile">
    insert into meeting_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="meetingId != null">
        meeting_id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
      <if test="uploader != null">
        uploader,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="meetingId != null">
        #{meetingId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="uploader != null">
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winter.domain.MeetingFile">
    update meeting_file
    <set>
      <if test="meetingId != null">
        meeting_id = #{meetingId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="uploader != null">
        uploader = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winter.domain.MeetingFile">
    update meeting_file
    set meeting_id = #{meetingId,jdbcType=INTEGER},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=INTEGER},
      uploader = #{uploader,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getMeetingFiles" parameterType="integer" resultMap="BaseResultMap" resultType="list">
    select
    <include refid="Base_Column_List"/>
    from meeting_file
    where meeting_id = #{meetingId}
  </select>

  <delete id="deleteByMeetingId" parameterType="integer">
    delete from
    meeting_file
    where meeting_id = #{meetingId}
  </delete>

  <select id="getUserFiles" parameterType="integer" resultType="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from meeting_file
    where up_id = #{userId}
  </select>
</mapper>