<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.winter.domain.Room">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="room_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="machine_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, room_number, content, machine_number, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from smart_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from smart_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.winter.domain.Room">
    insert into smart_room (id, room_number, content, 
      machine_number, status, create_time, 
      update_time)
    values (default , #{roomNumber,jdbcType=VARCHAR}, #{content,jdbcType=INTEGER},
      #{machineNumber,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.winter.domain.Room">
    insert into smart_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomNumber != null">
        room_number,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="machineNumber != null">
        machine_number,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null">
        #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=INTEGER},
      </if>
      <if test="machineNumber != null">
        #{machineNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winter.domain.Room">
    update smart_room
    <set>
      <if test="roomNumber != null">
        room_number = #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=INTEGER},
      </if>
      <if test="machineNumber != null">
        machine_number = #{machineNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winter.domain.Room">
    update smart_room
    set room_number = #{roomNumber,jdbcType=VARCHAR},
      content = #{content,jdbcType=INTEGER},
      machine_number = #{machineNumber,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultType="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from smart_room
  </select>

  <select id="getRoomNameById" parameterType="integer" resultType="string">
    select room_number
    from smart_room
    where id = #{roomId}
  </select>

  <select id="checkMapping" parameterType="map" resultType="int">
    select count(1)
    from smart_room
    where room_number = #{roomNumber}
    and machine_number = #{machineNumber}
  </select>

  <select id="getInfoByRoomNumber" resultMap="BaseResultMap" parameterType="string" resultType="com.winter.domain.Room">
    select
    <include refid="Base_Column_List"/>
    from smart_room
    where room_number = #{roomNumber}
  </select>

  <update id="setRoomUse" parameterType="integer">
    update smart_room
    set status = 2
    where id = #{roomId}
  </update>

  <update id="setRoomFree" parameterType="integer">
    update smart_room
    set status = 1
    where id = #{roomId}
  </update>

  <update id="bindAccessMachineNumber" parameterType="map">
    update smart_room
    set machine_number = #{machineNumber}, update_time = now()
    where room_number = #{roomNumber}
  </update>

  <select id="getIdByRoom" resultType="integer" parameterType="string">
    select id
    from smart_room
    where room_number = #{roomNumber}
  </select>
</mapper>